{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h2 class="mt-4">CHANGE PASSWORD</h2>

    <form method="POST" action="{{ url_for('edit_password') }}" class="mt-4 needs-validation" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="new_password" class="change-pwd">New Password</label>
            {{ form.new_password(class="form-control", placeholder="Enter your new password", required="required") }}
            {% for error in form.new_password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="confirm_new_password" class="change-pwd">Confirm New Password</label>
            {{ form.confirm_new_password(class="form-control", placeholder="Confirm your new password", required="required") }}
            {% for error in form.confirm_new_password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="showPassword" onclick="toggleNewPassword()">
            <label class="form-check-label check-pwd" for="showPassword">Show Password</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary save"></button>
    </form>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash_message alert alert-info">
            {{ messages[0]}}<br>
        </div>
    {% endif %}
    {% endwith %}

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}
